@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ovo&display=swap");
:root {
  --dark: #f75a5a;
  --darkest: #ffa955;
  --light: #6de1d2;
  --lightest: #ffd63a;

  /* Color schemes:  */
  /* 
  --dark: #cd104d;
  --darkest: #9c2c77;
  --light: #e14d2a;
  --lightest: #fd841f; */
  /* 
  --dark: #520556;
  --darkest: #8b104e;
  --light: #ca431d;
  --lightest: #ff9900; */

  /* --dark: #478ccf;
  --darkest: #4535c1;
  --light: #36c2ce;
  --lightest: #77e4c8; */

  --white: #ffffff;
  --black: #000000;
}

.logo {
  max-width: 15%;
}

.portrait {
  max-width: 50%;
  text-align: center;
  display: inline-block;
  border: 1rem double var(--darkest);
  border-radius: 12px;
}

img {
  max-width: 100%;
}

body {
  font-family: Ovo, Nunito Sans;
  margin: 0;
  text-align: center;
}

header {
  background-color: var(--lightest);
  padding: 1rem;
  border-bottom: 15px double var(--dark);
  color: var(--black);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-right: 2rem;
}

nav ul {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-flow: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}
nav a {
  text-decoration: none;
  color: var(--black);
}
nav a:hover {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.navbar {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.menu-toggle {
  display: none !important;
  visibility: hidden;
  opacity: 0;
  font-size: 30px;
  cursor: pointer;
}
h2 {
  font-family: Nunito Sans;
}

h1 {
  padding-left: 2rem;
}
.container {
  max-width: 1300px;
  margin: auto;
  background-color: var(--lightest);
}

.wrapper {
  display: grid;
  grid-column: 1fr;
  padding: 2rem;
}

.button {
  background-color: var(--lightest);
  color: var(--white);
  padding: 1rem;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 2rem;
}
.button:hover {
  background-color: var(--lightest);
  transform: scale(1.2);
  text-shadow: 2px 1px 2px #d5d5d5;
}
/* this is for the coaching page */
.parentcoaching {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--lightest);
  gap: 2rem;
}
.parentcoaching h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
.parentcoaching p {
  font-size: 1.5rem;
}

.coachingcard,
.coachingcarda,
.coachingcardc,
.coachingcardd,
.codingcard {
  background-color: var(--light);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.coachingcard h3 {
  font-weight: 900;
  /* text-transform: uppercase; */
}
.codingcard img {
  border: 0.5rem solid var(--dark);
  border-radius: 12px;
}
.codingcard:hover {
  /* transform: scale(1.04); */
}

footer {
  background-color: var(--lightest);
  color: var(--white);
  text-align: center;
  padding: 3rem 0;
  border-top: 15px double var(--dark);
}

.top {
  padding: 1rem;
  display: block;
}

@media (min-width: 700px) {
  header {
    justify-content: space-between;
    padding: 2rem;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .logo {
    text-align: left;
    margin-right: auto;
    max-width: 10%;
  }
  /* this is for the coaching page */
  .parentcoaching {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    justify-items: center;
  }
  .coachingcarda {
    grid-column: 1/3;
  }
  .coachingcardc {
    grid-column: 1/3;
  }
  .coachingcardd {
    grid-column: 1/3;
  }
}
@media (max-width: 680px) {
  /* for hamburger */
  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #eee;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .navbar.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
